body {
    display: flex;
    background-color: lightskyblue;
    font-family: Garamond;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}
label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
}
input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
}

.button button.btn {
    display: flex;
    flex: 0 0 200px;

    justify-content: flex-end;
    background-color: dodgerblue;
    margin-left: auto;
    margin-right: auto;
}


.error {
    color: darkred;
}