<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="header (authorized, username)">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <p><span th:text="${username} ?: 'no user authenticated'">...</span></p>
            </a>

            <div class="col-md-3 text-end">
                <a href="/register"  th:unless="authorized == true"  th:href="@{/register}" role="button" class="btn btn-large btn-outline-primary active me-2">Sign up</a>
                <a href="/login" th:unless="authorized == true" th:href="@{/login}" role="button"  class="btn btn-outline-primary">Log in</a>
                <a href="/login" th:if="authorized == true" th:href="@{/login}" role="button"  class="btn btn-outline-primary">Logout</a>
            </div>
        </header>
    </div>
</div>


</body>

</html>