<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <title>Home page</title>
</head>
<body>
<h1><span th:text="${login}"/>! Welcome to WeatherViewer!</h1>
<h2>Weather is: </h2>
<ul>
    <li>name:<span th:text="${name}"/></li>
    <li>temp:<span th:text="${temp}"/></li>
    <li>lat:<span th:text="${lat}"/></li>
    <li>lon:<span th:text="${lon}"/></li>
</ul>


</body>
</html>