<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Login!</h1>
<form action="#" th:action="@{/login}" th:method="post">
    <label for="login">Enter login:  <input type="text" name="login" id="login" required/></label>

    <label for="password">Enter password: <input type="text" name="password" id="password" required/></label>
    <div class="button">
        <button type="submit" class="btn">Sign up</button>
    </div>
    <p th:if="${userError}" class="error">Login or password not match.</p>
</form>
</body>
</html>