<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments :: common-structure(~{:: div.login-body})">
<div class="login-body">
    <h1 class="text-center display-1">Login</h1>
    <div class="container-xxl">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-center">
            <form action="#" th:action="@{/login}" th:method="post">
                <div class="mb-3 form-floating">
                    <input class="form-control form-control-lg" th:classappend="${userError} ? 'is-invalid' : ''" type="email" name="login" id="login" required/>
                    <label class="form-label" for="login">Login</label>
                </div>
                <div class="mb-3 form-floating">
                    <input class="form-control form-control-lg" th:classappend="${userError} ? 'is-invalid' : ''" type="password" name="password" id="password" aria-describedby="passwordHelpBlock" required/>
                    <label class="form-label" for="password">Password</label>
                    <div th:if="${userError}" class="invalid-feedback" id="passwordHelpBlock">
                        Login or password not match.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
            </form>
        </div>
    </div>
</div>
</html>