<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments :: common-structure(~{:: div.search-body})">
<div class="search-body">
    <div th:insert="fragments :: header(authorized=true, username=${user.getLogin()})"></div>
    <div class="container-xxl">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Search</li>
            </ol>
        </nav>
        <section class="main-content">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div th:each="element : ${locations}">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <span th:text="${element.getName()}"></span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Latitude: <span th:text="${element.getLatitude()}"></span> </p>
                                <p class="card-text">Longitude: <span th:text="${element.getLongitude()}"></span> </p>
                                <p class="card-text">Country: <span th:text="${element.getCountry()}"></span> </p>
                                <form action="#" th:action="@{/search}" th:method="post" class="d-flex" role="search">
                                    <input type="hidden" name="name" th:value="${element.getName()}">
                                    <input type="hidden" name="lat" th:value="${element.getLatitude()}">
                                    <input type="hidden" name="lon" th:value="${element.getLongitude()}">
                                    <button class="btn btn-success btn-lg" type="submit">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</html>