<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments :: common-structure(~{:: div.success-body})">
<div class="success-body">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/login}">Go to login page!</a></li>
            <li class="breadcrumb-item active" aria-current="page">Success</li>
        </ol>
    </nav>
    <h1 class="text-center display-1">Congratulations,  <span th:text="${login}"></span>!</h1>
    <h1 class="text-center text-body-secondary display-6">You have successfully registered with weather-viewer!</h1>
</div>
</html>